body
{
    background-color: #F5F5F5;
}

h1
{
    color: #F5F5F5;
}

h2
{
    color: #500000
}

a
{
    color: #500000
}

.directLinks
{
    color: #ffffff;
    text-decoration: none;
}

.mainBody
{
    background-color: #ffffff;
}

.logo
{ 
    position: absolute;
    top: 715px;
    right: 10px;
}

.contact
{
    position: absolute;
    top: 625px;
    right: 1220px;
}

.professionalPicture
{
    position: absolute;
    top: 540px;
    right: 400px;
}
.am
{
    position: absolute;
    top: 540px;
    right: 720px;
}

.microprocessor
{
    position: absolute;
    top: 580px;
    right: 420px;
}
.cc
{
    position: absolute;
    top: 580px;
    right: 820px;
}

.cyber
{
    position: absolute;
    top: 530px;
    right: 340px;
}
.bigThree
{
    position: absolute;
    top: 530px;
    right: 660px;
}

.links
{
    background-color: #500000;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    color: #ffffff
}

.flexTitle
{
    display: flex;
    background-color: #500000;
}
.flexTitle > div 
{
    flex: 3;
    padding: 10px;
}

.flexBody
{
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    gap: 10px;
}
.flexBody > div
{
    padding: 10px;
}
.left
{
    width: 1100px;
}

